// Import Bulma's core
@import '~bulma/sass/utilities/_all';

// Set your colors
$bright-green: #e1fead;
$dark-green: #043f45;

// Navbar
$navbar-item-hover-color: $dark-green;

// Import Bulma and Buefy styles
@import '~bulma';
@import '~buefy/src/scss/buefy';
